<%= form_for @subscription, :html => {:class => "form-stacked"} do |f| %>

  <% if @subscription.errors.any? %>
    <div id="error_explanation" class="alert-message block-message error">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited your pledge from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :plan_id %>
  <%= f.hidden_field :price, :value => @subscription.plan.price %>
  <%= f.hidden_field :facebook_user_id, :value => session[:current_user] %>
  <%= f.hidden_field :stripe_card_token %>


  <div class="clearfix">
    <%= f.label :email, "Email Address" %>
    <%= f.email_field :email %>
  </div>

<!-- for stripe -->
  <% if @subscription.stripe_card_token.present? %>
    Credit card has been provided.
  <% else %>

  	  <div class="clearfix">
	    <%= label_tag :card_number, "Credit Card Number" %>
	    <%= text_field_tag :card_number, nil, name: nil %>
	  </div>
  	  <div class="clearfix">
	    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
	    <%= text_field_tag :card_code, nil, name: nil, :class => "span2" %>
	  </div>
  	  <div class="clearfix">
	    <%= label_tag :card_month, "Card Expiration" %>
	    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
	    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :class => "span2"} %>
	  </div>
  <% end %>
<!-- end stripe -->
	
  <div class="clearfix">
    <%= f.label :note, "Add A Note For #{@plan.artist.name} (optional)" %>
    <%= f.text_area :note %>
  </div>
	

  <!-- stripe errors -->
  <div id="stripe_error">
	<noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <!-- end stripe errors -->

  <div class="actions">
    <%= f.submit "Make Pledge", :class => "uiButton uiButtonConfirm" %> &nbsp;<%= link_to 'Cancel', artist_url(@plan.artist), :class => "uiButton" %>
  </div>

<% end %>
